*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
   
}


.parallax {
    position: relative;
    background-image: url("img/wallpaperflare.com_wallpaper.jpg");
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: opacity 1s ease-in-out;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .fade-out{
    opacity: 0;
  }


 
  .ml4 {
    position: relative;
    text-align: center;
    font-weight: 900;
    font-size: 4.5em;
    width: 100vw;    
  }
  .ml4 .letters {
    position: absolute;
    
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
    color: white;
    padding-top: 20%;
  }